.songRow {
  padding: 20px;
  display: flex;
  align-items: center;
  z-index: 100;
  color: white;
  transition: 150ms background-color ease-in;
}

.songRow:hover{
  cursor: pointer;
  background-color: #282828;
  opacity: 0.8;
}
.active__song>h1{
  color:#1ed15e;
}

.songRow__info {
  margin-left: 20px;
}

.songRow__info > h1 {
  font-size: 16px;
}

.songRow__info > p {
  font-size: 14px;
  margin-top: 3px;
  color: #b3b3b3;
}


.songRow__album {
  height: 40px;
  width: 40px;
}